.background1-content {
    background-image: url('/images/onboarding1-bg.svg');
    height: 100%;
    background-size: cover;
    position: relative;
    padding-top: 60px;
}

.background2-content {
    background-image: url('/images/onboarding/background2.svg');
    height: 100%;
    background-size: cover;
    position: relative;
    padding-top: 60px;
}





@media(prefers-color-scheme: dark) {
    .background1-content {
        background-image: none;
    }

    .background2-content {
        background-image: none;
    }
}